table {
  border-collapse: collapse;
}

td {
  border: thin solid black;
  min-width: 15px;
  text-align: center;
}

tr td:nth-child(4) {
  border: none;
  background-color: gray;
}

#output {
  height: 20px;
}

#enterBtn {
  text-transform: uppercase;
  background-color: #00FF00;
  color: white;
}

.clickable {
  cursor: pointer;
}
